/*
* # for id
* . for class
*/

/* browser reset */
ul, li
{
    padding: 0px; 
    margin: 0px;
}

a {
    text-decoration: none;
}


body {
    background-color: #F3F3F3;
}

/* ---------- HOME PAGE ---------- */

#index-container {
    /* border: 1px solid black; */
    height: 150px;
    width: 100%;
    margin-top: 5%;
}

#index-buttons {
    /* border: 1px solid purple; */
    margin: 50px;
    height: 31px;
    padding-left: 35%;
    padding-right: 35%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    column-gap: 10%;
    justify-content: center;
    
}

#solobutton:hover {
    background-color: #dfd8d8;
}

.button-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#solobutton {
    font-family: "Encode Sans", sans-serif;
    font-size: 80%;
    border: none;
    background-color: #ECE7E7;
    /* position: absolute;
    top: 55%;
    left: 36%; */
    padding: 0px 13.5px 0px 13.5px;
    width: 100%;
    height: 31px;

    cursor: pointer;
    transition: all 0.3 ease 0s;

}

#collabbutton {
    font-family: "Encode Sans", sans-serif;
    font-size: 80%;
    border: none;
    background-color: #F3DADA;
    width: 100%;
    height: 31px;
    cursor: pointer;
    transition: all 0.3 ease 0s;    
}

#collabbutton:hover {
    background-color: #e4d7d7;
}

#mainheading {
    font-weight: normal;
    font-family: "EB Garamond", serif;
    text-align: center;
}

.heading {
    font-family: "EB Garamond", serif;
}


/* nav bar */

.nav_links li {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 100%;
}

.nav_links {
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    
    padding: 50px 0 50px 0;
    align-items: center;
    justify-content: center;
    column-gap: 1%;
}

.nav-col {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%;
    flex: 1; */
}

.nav_links a {
    color: black;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
}

.nav_links li a:hover {
    color: rgb(187, 50, 107);
}

.logo img {
    margin: 10px;
    width: 12rem;
    border-radius: 50%;
}

.logo {
    cursor: pointer;
}



/* ----- COLLAB ----- */

.textbox {
    line-height: 1.6;
    text-align: center;
    font-family: "EB Garamond", serif;
}

.song-subtitle {
    margin-top: 0;
    font-size: 140%;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.subtitle-hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 1px solid;
    margin-right: 000px;
}

.duet-box {
    /* border: 2px solid red; */
    font-family: "EB Garamond", serif;
    margin: 60px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px;
}

.list {
    list-style-type: none;  
}

.TOC-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.div-title {
    /* border: 2px solid orange; */
    font-family: "EB Garamond", serif;
    font-size: 200%;
    text-align: center;
    margin: 0;
}

.horizontal {
    border: 1px solid;
    margin: 15px 20px 15px 20px;
}


/* page header */
.header {
    font-family: "EB Garamond", serif;
    font-size: 175%;
    margin-bottom: 10px;
    text-align: center;
    
}

.collab-redirect {
    font-family: "EB Garamond", serif;
    font-size: 80%;
    margin-bottom: 30px;
    text-align: center;
}

/* yt */
.yt-collab {
    width: 100%;
    height: 16rem;
}

/* duet box styling */
.item1 {
    background-color: #d9def0;
}

.item2 {
    background-color: #F3DADA;
}

.item3 {
    background-color: #e4e4e4;
}

.row-collab {
    /* border: 2px solid orange; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    padding: 15px 20px 5px 20px;
    gap: 2%;
   
}

.col-collab {
    /* border: 2px solid gold; */
    justify-content: center;
    height: 100%;
    flex: 46%;
}

/* ---------- SOLO PAGE ---------- */

.period-div {
    /* border: 2px solid red; */
    margin: 60px 12% 80px 12%;
    padding: 2%;
}

.horizontal-solo {
    margin: 10px 7% 0 7%;
    border: 1px solid;
}

.row-solo {
    /* border: 2px solid orange; */
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    padding: 15px 30px 5px 30px;
    /* height: 370px; */
}

.col-solo {
    /* border: 2px solid gold; */
    height: 100%;
    flex: 48%;
}

/* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  } */

  .yt-solo {
    /* border: 2px solid green; */
    width: 100%;
    height: 16rem;
  }

  .solo-text {
    /* border: 2px solid green; */
    font-family: "EB Garamond", serif;
    text-align: center;
    font-size: 120%;
    margin-bottom: 0;
    margin-top: 10px;
  }

  /* #romantic {
    height: 1250px;
  }

  #modern {
    height: 850px;
  } */

  /* each new row adds 400 */



  /* ---------- SHEETS PAGE ---------- */
.sheets-div {
    padding-top: 40px;
    margin: 50px;
    height: 670px;
}

.sheets-row {
    display: flex;
    column-gap: 2%;
    padding: 30px;
    height: 480px;
    margin-bottom: 50px;
}

.sheet-text {
    /* border: 2px solid green; */
    font-family: "EB Garamond", serif;
    text-align: center;
    font-size: 100%;
    margin-top: 3px;
}

.pdf {
    width: 100%;
    height: 100%;
}

/* each new row is 600. two rows is 1250. */

/* #classical-sheets {
    height: 1850px;
} */

#pop-sheets {
    height: 1250px;
}

#collab-classical-sheets {
    height: 1250px;
}

#about-text {
    font-family: "EB Garamond", serif;  
    text-align: center;
    font-size: 100%;
}

/* ----- MEDIA QUERIES ----- */

/* collab page */
@media (max-width: 800px) {
    .row-collab {
        display: block;
        padding: 15px 0 15px 0;
    }
    .horizontal {
        margin: 15px 0 0 0;
    }
    .col-collab {
        text-align: center;
    }
    .song-subtitle {
        margin-top: 0.25rem;
    }
}

@media (min-width: 831px) {
    .row-collab {
        display: flex;
    }
}

/* solo page */
@media (max-width: 550px) {
    .row-solo {
        display: block;
        padding: 0 10px 0 10px;
    }
    .solo-text {
        margin-top: 5px;
    }
    .sheet-text {
        margin-bottom: 30px
    }
    .horizontal-solo {
        margin-bottom: 15px;
    }
}

/* nav bar */
@media (max-width: 450px) {
    .nav_links {
        display: block;
    }
}
