/*
* # for id
* . for class
*/

/* browser reset */
ul, li
{
    padding: 0px; 
    margin: 0px;
}


body {
    background-color: #F3F3F3;
}

/* ---------- homepage ---------- */
#index-container {
    border: 1px solid black;
    height: 150px;
    width: 100%;
    margin-top: 5%;
}

#index-buttons {
    border: 1px solid purple;
    margin: 50px;
    height: 31px;
    padding-left: 30%;
    padding-right: 30%;
}

#solobutton:hover {
    background-color: #dfd8d8;
}

#solobutton {
    font-family: "Encode Sans", sans-serif;
    font-size: 80%;
    border: none;
    background-color: #ECE7E7;
    /* position: absolute;
    top: 55%;
    left: 36%; */
    width: 150px;
    height: 31px;

    cursor: pointer;
    transition: all 0.3 ease 0s;
    float: left;

}

#collabbutton {
    font-family: "Encode Sans", sans-serif;
    font-size: 80%;
    border: none;
    background-color: #F3DADA;
    width: 150px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3 ease 0s;    
    float: right;
}

#collabbutton:hover {
    background-color: #e4d7d7;
}

#mainheading {
    font-weight: normal;
    font-family: "EB Garamond", serif;
    text-align: center;
}

.heading {
    font-family: "EB Garamond", serif;
}


/* nav bar */

.nav_links li {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.nav_links {
    border: 1px solid red;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: .5rem 10rem;
    padding: 50px;
    text-align: center;
}

.nav_links a {
    color: black;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
}

.nav_links li a:hover {
    color: rgb(187, 50, 107);
}

.logo img {
    margin: 10px;
    width: 200px;
    border-radius: 50%;
}

.logo {
    cursor: pointer;
}



/* text */

.textbox {
    line-height: 1.6;
    text-align: center;
    font-family: "EB Garamond", serif;
}

.duet-box {
    font-family: "EB Garamond", serif;
    margin: 60px;
    padding: 30px;
    height: 400px;
    
}

.list {
    list-style-type: none;  
}

.TOC-header {
    margin-top: 10px;
    margin-bottom: 5px;
}

.song-title {
    font-size: 200%;
    text-align: center;
    margin: 0;
}

.horizontal {
    border: 1px solid;
    margin: 20px;
    margin-top: 15px;
}

/* yt */
.yt-embed {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
    height: 280px;
    width: 45%;
}

/* duet box styling */
.item1 {
    background-color: #d9def0;
}

.item2 {
    background-color: #F3DADA;
}

.item3 {
    background-color: #e4e4e4;
}

.inner-duetbox {
    height: 300px;
    padding: 20px;
}

#ghibli {
    height: 720px;
}

/* solo page styling */
.period-div {
    margin: 120px;
    height: 1000px;
}

.horizontal-solo {
    margin-left: 100px;
    margin-right: 100px;
    border: 1px solid;
}

.row-solo-videos {
    display: flex;
    column-gap: 6%;
    padding: 50px;
    height: 600px;
}

.column {
    flex: 46%;
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .yt-solo {
    width: 100%;
    height: 90%;
  }

  .solo-text {
    font-family: "EB Garamond", serif;
    text-align: center;
    font-size: 120%;
    margin-bottom: 0;
  }



  /* ---------- SHEETS ---------- */
.sheet-text {
    font-family: "EB Garamond", serif;
    text-align: center;
    font-size: 100%;
    margin-top: 5px;
}

.pdf {
    width: 100%;
    height: 100%;
}