/*
* # for id
* . for class
*/

/* browser reset */
ul, li
{
    padding: 0px; 
    margin: 0px;
}


body {
    background-color: #F3F3F3;
}

/* homepage */

#solobutton {
    font-family: "Encode Sans", sans-serif;
    border: none;
    padding: 0;
    background-color: #ECE7E7;
    position: absolute;
    top: 55%;
    left: 36%;
    width: 150px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3 ease 0s;

}

#solobutton:hover {
    background-color: #dfd8d8;
}


#collabbutton {
    font-family: "Encode Sans", sans-serif;
    font-size: 80%;
    border: none;
    padding: 0;
    background-color: #F3DADA;
    position: absolute;
    top: 55%;
    left: 53%;
    width: 150px;
    height: 31px;
    cursor: pointer;
    transition: all 0.3 ease 0s;    
}

#collabbutton:hover {
    background-color: #e4d7d7;
}

#mainheading {
    font-weight: normal;
    font-family: "EB Garamond", serif;
    min-height: 100px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 40%;
}

.heading {
    font-family: "EB Garamond", serif;
}


/* nav bar */

.nav_links li {
    font-family: "Encode Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.nav_links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: .5rem 10rem;
    padding: 50px;
    text-align: center;
}

.nav_links a {
    color: black;
    text-decoration: none;
    padding: .5rem;
    text-align: center;
}

.nav_links li a:hover {
    color: rgb(187, 50, 107);
}

.logo img {
    margin: 10px;
    width: 200px;
    border-radius: 50%;
}

.logo {
    cursor: pointer;
}

/* text */

.textbox {
    line-height: 1.6;
    text-align: center;
    font-family: "EB Garamond", serif;
}

.duet-box {
    font-family: "EB Garamond", serif;
    background-color: #D9D9D9;
    margin: 80px;
}

.list {
    list-style-type: none;  
}

.TOC-header {
    margin-top: 10px;
    margin-bottom: 5px;
}
